<!DOCTYPE html>
<html lang="en">
<%- include('head')%>
<body class="sb-nav-fixed">
<%- include('topnav')%>
<div id="layoutSidenav">

    <%- include('admin-aside') %>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h5 class="mt-4 mb-3 ">
                    <a href="/admin/themsanpham">Thêm sản phẩm </a>
                </h5>
                <% if (message!=null) { %>
                    <%- message %>
                <% } %>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">
                        <% if (title!=null) { %>
                            <%- title %>
                        <% } %>
                    </li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header mb-4">
                        <div class="fs-20px">
                            <i class="fas fa-edit mr-1" ></i>
                            <span class="font-weight-bolder text-info">Chi tiết sản phấm</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="form_sua" action="/admin/sanpham/chitiet/sua" method="post" autocomplete="off">
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td class="font-weight-bolder "><div class="container-fluid">Nhóm sản phẩm</div></td>
                                        <td colspan="2">
                                            <select name="idnhomsanpham" class="container-fluid">
                                                <% nhomsanpham.map(function(e) { %>
                                                    <option value="<%- e.idnhomsanpham%>"> 
                                                        <%- e.tennhomsanpham%>
                                                    </option>
                                                <% })%>
                                            </select>
                                        </td>
                                        <td class=" font-weight-bolder">
                                            <div class="container-fluid">
                                                Mã sản phẩm
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <% sanpham.map(function(e){ %>
                                                <input type="text" class="container-fluid" name="masanpham" value="<%- e.masanpham%>">
                                                <input name="idsanpham" class="container-fluid" value="<%- e.idsanpham%>" readonly hidden>
                                            <% })%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="18%" class="font-weight-bolder"><div class="container-fluid">Is_Active</div></td>
                                        <td width="16%">
                                            <% sanpham.map(function(e){ %>
                                                <select class="container-fluid" name="is_active">
                                                    <option id="status_active1"><%- e.is_active%></option>
                                                    <option id="status_active2"></option>
                                                </select>
                                            <% })%>
                                        </td>
                                        <td width="18%" class="font-weight-bolder"><div class="container-fluid">Trạng thái</div></td>
                                        <td>
                                            <% sanpham.map(function(e){ %>
                                                <select class="container-fluid" name="trangthai">
                                                    <option id="status1"><%- e.trangthai%></option>
                                                    <option id="status2"></option>
                                                </select>
                                            <% })%>
                                        </td>
                                        <td class="font-weight-bolder"><div class="container-fluid">Giá</div></td>
                                        <td>
                                            <% sanpham.map(function(e){ %>
                                                <input type="text" class="container-fluid" name="gia" id="gia" value=<%- e.gia%>>
                                            <% })%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bolder"><div class="container-fluid">Tên sản phẩm</div></td>
                                        <td colspan="5">
                                            <% sanpham.map(function(e){ %>
                                                <input name="tensanpham" class="container-fluid" required value="<%- e.tensanpham%>">
                                            <% })%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bolder"><div class="container-fluid">Phụ kiện</div></td>
                                        <td colspan="5">
                                            <% sanpham.map(function(e) { %>
                                                <textarea name="phukien" class="container-fluid" rows="10" required><%- e.phukien%></textarea>
                                                <div><%- e.phukien%></div>
                                            <% })%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bolder"><div class="container-fluid">Mô tả</div></td>
                                        <td colspan="5">
                                            <% sanpham.map(function(e) { %>
                                                <textarea name="mota" class="container-fluid" rows="10" required><%- e.mota%></textarea>
                                                <div><%- e.mota%></div>
                                            <% })%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bolder"><div class="container-fluid">Link ảnh đại diện</div></td>
                                        <td colspan="5">
                                            <% sanpham.map(function(e){ %>
                                                <textarea name="anhdaidien" class="container-fluid"><%- e.anhdaidien%></textarea>
                                                <img class="container-fluid mw-50-img" src="<%- e.anhdaidien%>"> 
                                            <% })%>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bolder"><div class="container-fluid">Link ảnh nội dung</div></td>
                                        <td colspan="5">
                                            <% sanpham.map(function(e){ %>
                                                <textarea name="anhnoidung" class="container-fluid"><%- e.anhnoidung%></textarea>
                                                <img class="container-fluid mw-50-img" src="<%- e.anhnoidung%>"> 
                                            <% })%>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <button id="btn_sua" type="submit" class="btn btn-primary mt-3" style="width: 20%;float: right">Chỉnh sửa</button>
                        </form>
                        <form id="form_xoa" action="/admin/sanpham/chitiet/xoa" method="post">
                            <% sanpham.map(function (e) { %>
                                <input name="idsanpham" class="container-fluid" value="<%- e.idsanpham%>" readonly hidden>
                            <% })%>
                            <button id="btn_xoa" type="submit" class="btn btn-primary mt-3" style="width: 20%;float: left" onclick="alert_delete()">Xóa</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </main>
        <%- include('footer.ejs')%>
    </div>
</div>
<%- include('script.ejs')%>
<script>
    /* Code lỗi -> x sẽ lấy giá trị trước khi type rồi mới alert chứ không phải sau khi type
    var x = document.getElementById('phantramkhuyenmai').value;
    $('#btn_sua').click(function () {
        
        alert(x);
    });
    */
    
    $('#btn_sua').click(function () {
        var gia = document.getElementById('gia').value;
        if(gia<0||isNaN(gia)) {
            alert_gia();
            return false;
        }
    });
    // onclick function khong hoat dong voi jquery

    if(document.getElementById("status_active1")) {
        if(document.getElementById("status_active1").innerHTML=='true') {
            document.getElementById("status_active2").innerHTML = "false";
        }
        if(document.getElementById("status_active1").innerHTML=='false') {
            document.getElementById("status_active2").innerHTML = "true";
        }
    }

    if(document.getElementById("status1")){
        if(document.getElementById("status1").innerHTML=='true') {
            document.getElementById("status2").innerHTML = "false";
        }
        if(document.getElementById("status1").innerHTML=='false') {
            document.getElementById("status2").innerHTML = "true";
        }
    }
    $('#btn_xoa').click(function () {
        return false;
    })

</script>
<style>
.detail-row {
  height:30px;
  line-height: 30px;
}
.short-width{
  width: 38%;
}
.hight-width{
  width: 61%;
}
.detial-title {
    font-size:15px;
    color: #035696;
    font-weight:600;
    margin-top:150px;
}
.detail-text-type{
    color:#ffffff;
    font-size:15px;
}
</style>