<!DOCTYPE html>
<html lang="en">
<%- include('head')%>
<body class="sb-nav-fixed">
<%- include('topnav')%>
<div id="layoutSidenav">

    <%- include('admin-aside') %>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h5 class="mt-4 mb-3">
                    &nbsp; 
                </h5>
                <% if (message!=null) { %>
                    <%- message %>
                <% } %>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">
                        Dịch vụ
                    </li>
                    <li class="breadcrumb-item active">
                        Thêm 
                    </li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                    </div>
                    <div class="card-body">
                        <form action="/admin/themdichvu" method="post" autocomplete="off">
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td width="15%" class="font-weight-bolder">
                                            <div class="container-fluid">
                                                Dịch vụ
                                            </div>
                                        </td>
                                        <td colspan="2" width="30%">
                                            <select class="container-fluid" name="iddichvu">
                                                <% dichvu.map(function(e){ %>
                                                    <option value="<%- e.iddichvu%>"><%- e.tendichvu%></option> 
                                                <% })%>
                                            </select>
                                        </td>
                                        <td width="15%" class="font-weight-bolder">
                                            <div class="container-fluid">
                                                Mã dịch vụ
                                            </div>
                                        </td>
                                        <td colspan="2" width="30%">
                                            <input name="madichvucon" class="container-fluid" style="text-transform: uppercase;" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="15%" class="font-weight-bolder">
                                            <div class="container-fluid">
                                                Giá
                                            </div>
                                        </td>
                                        <td>
                                            <input id="gia" name="gia" class="container-fluid" required>
                                        </td>
                                        <td width="15%" class="font-weight-bolder">
                                            <div class="container-fluid">
                                                Is active
                                            </div>
                                        </td>
                                        <td>
                                            <select class="container-fluid" name="is_active">
                                                <option value="1">true</option>
                                                <option value="0">false</option>
                                            </select>
                                        </td>
                                        <td width="15%" class="font-weight-bolder">
                                            <div class="container-fluid">
                                                Trạng thái
                                            </div>
                                        </td>
                                        <td>
                                            <select class="container-fluid" name="trangthai">
                                                <option value="1">true</option>
                                                <option value="0">false</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="15%" class="font-weight-bolder">
                                            <div class="container-fluid">
                                                Nội dung
                                            </div>
                                        </td>
                                        <td colspan="5">
                                            <textarea name="noidung" class="container-fluid" rows="10" ></textarea>
                                        </td>
                                    </tr>
                                    <td width="15%" class="font-weight-bolder">
                                        <div class="container-fluid">
                                            Ảnh đại diện
                                        </div>
                                    </td>
                                    <td colspan="5">
                                        <textarea name="anhdaidien" class="container-fluid" rows="3" ></textarea>
                                    </td>
                                </table>
                            </div>
                            <button id="btn_them" type="submit" class="btn btn-primary mt-3" style="width: 20% ;float: right">Thêm</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('footer.ejs')%>
    </div>
</div>
<%- include('script.ejs')%>
<script>
    $('#btn_them').click(function(){
        var gia = document.getElementById('gia').value;
        if(isNaN(gia)|| gia < 0) {
            alert_gia();
            // không để return false thì form vẫn đc submite lên
            return false;
        } else {
            $('form').submit();
        }
        
    })
    
</script>
</body>
</html>